<div>
  <div name="index-page" class="index">
    <ul></ul>


  </div>
  <div class="view">

  </div>
  <div name="edit-form" class="edit">
    <ul></ul>
    <button type="submit">Update</button>
  </div>
  <div name="index-item" class="item">
    <h3 class="name"></h3>
  </div>
  <input name="string-vine" type="text" />
  <textarea name="text-vine" rows="5"></textarea>
  <span name="list-vine"><a class="add" href="">add</a><ul></ul></span>
  <span name="reference-vine" ></span>
  <div name="vine-skin" class="vine">
    <span class="name">
  </div>
</div>