textarea
{
  resize: none;
}

.editor textarea {
  width: 300pt;  
}

.editor input {
  width: 200pt;  
}

.editor .right-sidebar {
  float: right;
  width: 150pt;
min-height: 100pt;
}
.editor .content {
}

.editor .content ul{

}

.vine {
  margin-bottom: 10pt;  
}

.vine .name {
  display: inline-block;
  width: 64pt;
}

.vine.list {

}

.vine.list ul{

}

a.delete {
  padding: 0 10pt;
  font-weight: bold;
}

/*.index a.delete {
  display: none;
}*/


#garden-landscape {
  display: none;
}